.eligibilityPage{
    @extend .IDOCPage;
    margin-left: 7vw;
    margin-right: 5.5vw;
}

.options{
    display: flex;
    padding: 10px 0 0 3vw;
    height: 30px;
}

#criteria{
    padding-left: 10px;
    background-color: white;
    width: 70vw;
}