@import './fonts.scss';
@import './inputs.scss';


@import '../components/Home/Home.scss';
@import '../components/EmailForm/EmailForm.scss';
@import '../components/FAQ/FAQ.scss';
@import '../components/ExampleEmail/ExampleEmail.scss';
@import '../components/IDOCPage/IDOCPage.scss';
@import '../components/WelcomePage/WelcomePage.scss';


.flexCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}