.modal{
    background-color: white;
    height: 400px;
    // width: 550px;
    width: 44%;
    position: fixed;
    top: 25%;
    left: 27%;

    border-radius: 15px;
    border: 1px solid grey;
    justify-content: flex-start;
    text-align: center;
    padding-left: 20px;
    box-shadow: 3px 3px grey;

    &__close{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    & p{
        text-align: left;
    }
}

.x{
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.title{
    text-align: center;
}

