.Email{
  // @extend .flexCenter;
  // margin: 0 5%;
  margin-left: 7vw;
  margin-right: 7vw;
  // margin-top: 7vh;
  font-size: 18px;
  padding-bottom: 3vw;

  #heading{
    text-align: center;
  }

  & h1{
    // margin-bottom: 0px !important;
  }

  & h2{
    // margin-top: 2.5vh !important;
  }
  & label{
    width: 80%;
  }

  #buttonCenter{
    text-align: center;
  }

}

#overlay {
    position: absolute;   
    top: 0;                  
    right: 0;                
    bottom: 0;
    left: 0;
    opacity: 1;
    pointer-events: auto;
  }

form{
  margin-left: 3vw;
  margin-right: 3vw;
}