.Email{
  margin-left: 7vw;
  margin-right: 5.5vw;
  font-size: 20px;
  padding-bottom: 2vh;

  & h2{
    margin-top: -2vh;
  }
  & label{
    width: 80%;
  }
}

#overlay {
    margin-top: 50px;
    position: absolute;   
    top: 0;                  
    right: 0;                
    bottom: 0;
    left: 0;
    opacity: 1;
  }

TextField{
  padding-left: 5px;
}