.welcomeContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    align-items: center;
    justify-content: center;
    & p {
        font-size: 25px;
        margin-left: 5%;
        text-align: center;
    }
    & h1 {
        font-size: 40px;
    }
}

.getStarted {
    margin: 5%;
}

.getStartedLink {
    text-decoration: none;
}

.getStartedButton {
    font-size: 20px!important;
    text-transform: none!important;
}